Legacy/Samples/Source/MathsWebService/WebReferences/localhost/Maths.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddTwoNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Number1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Number2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTwoNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTwoNumbersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddTwoNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:AddTwoNumbers" />
  </wsdl:message>
  <wsdl:message name="AddTwoNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:AddTwoNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="ClsMathsSoap">
    <wsdl:operation name="AddTwoNumbers">
      <wsdl:input message="tns:AddTwoNumbersSoapIn" />
      <wsdl:output message="tns:AddTwoNumbersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClsMathsSoap" type="tns:ClsMathsSoap">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.0" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" />
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="AddTwoNumbers">
      <soap:operation soapAction="http://tempuri.org/AddTwoNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClsMathsSoap12" type="tns:ClsMathsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="AddTwoNumbers">
      <soap12:operation soapAction="http://tempuri.org/AddTwoNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClsMaths">
    <wsdl:port name="ClsMathsSoap" binding="tns:ClsMathsSoap">
      <soap:address location="http://localhost:2308/MathsWebService/Maths.asmx" />
    </wsdl:port>
    <wsdl:port name="ClsMathsSoap12" binding="tns:ClsMathsSoap12">
      <soap12:address location="http://localhost:2308/MathsWebService/Maths.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>